{{#if this.isActive}}
  <button class="button button_active" type={{this.type}}>
    {{this.text}}
  </button>
{{else}}
  <button class="button" type={{this.type}}>
    {{this.text}}
  </button>
{{/if}}