<div class="input">
  <label class="input__label">{{this.label}}</label>
  <input
    class="input__field"
    required={{this.isRequired}}
    name="{{this.name}}"
    type={{this.type}}
    placeholder="{{this.placeholder}}"
  />
</div>